@media screen and (orientation: landscape) {
    .container {
        width: 90vw;
    }
    #data-table{
        width: 90vw;
    }
}
@media screen and (min-width: 280px) and (max-width: 768px){
    .container {
        width: 90vw;
    }
    #data-table{
        width: 90vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .container {
        width: 90vw;
    }
    #data-table{
        width: 90vw;
    }
}